@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
/* ======================= Start-Color ======================= */
:root {
  --primary: linear-gradient(
    270deg,
    rgba(115, 103, 240, 0.7) 0%,
    #7367f0 100%
  ) !important;
  --primary2: #7367f0 !important;
  --secondary: linear-gradient(270deg, #e5b1b3 0%, #ff4c51 100%) !important;
  --secondary2: #ff4c51 !important;
  --tertiary: #2f2b24 !important;
  --forth: #0f172a !important;
  --success: #338a63 !important;
  --warning: #ff5722 !important;
  --danger: red !important;
  --info: #2196f3 !important;
  --white: #fff !important;
  --card: #fff !important;
  --dark: #3a3731 !important;
  --gray: rgb(80, 72, 72) !important;
}
.dark-mode {
  --primary: #74c2a8 !important;
  --secondary: #9a9bcc !important;
  --tertiary: #171718 !important;
  --forth: #fff !important;
  --success: #4bb543 !important;
  --warning: #ff5722 !important;
  --danger: red !important;
  --info: #2196f3 !important;
  --white: #293643 !important;
  --card: #1e2b34 !important;
  --dark: #ececec !important;
  --gray: #fff !important;
}
/* ======================= End-Color ======================= */

/* ======================= Start-Bg-Color ======================= */
.bgprimary {
  background: var(--primary);
}
.bgsecondary {
  background: var(--secondary);
}
.bgprimary2 {
  background: var(--primary2);
}
.bgsecondary2 {
  background: var(--secondary2);
}
.bgtertiary {
  background: var(--tertiary);
}
.bgforth {
  background: var(--forth);
}
.bgsuccess {
  background: var(--success);
}
.bgwarning {
  background: var(--warning);
}
.bgdanger {
  background: var(--danger);
}
.bginfo {
  background: var(--info);
}
.bgwhite {
  background: var(--white);
}
.bggray {
  background: var(--gray);
}
.bgcard {
  background: var(--card);
}
.bgdark {
  background: var(--dark);
}
.bg-light-primary {
  background: #e9e7fd !important;
}
.bg-light-secondary {
  background: #faf1f1 !important;
}
.bg-light-success {
  background: #4bb5432e !important;
}
.bg-light-warning {
  background: #faf0ed !important;
}
.bg-light-danger {
  background: rgba(255, 0, 0, 0.144) !important;
}
.bg-ec {
  background-color: #ececec !important;
}
.bg-fa {
  background-color: #fafafa !important;
}
.bg-efefef {
  background-color: #efefef !important;
}
.bg-f4f5f6 {
  background: #f4f5f6 !important;
}
.bg-glass {
  background: rgba(255, 255, 255, 0.09);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  border: 1px solid rgba(255, 255, 255, 0.13);
}
.bg-glass2 {
  background: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(1.7px);
}
.liner-color {
  background: linear-gradient(45deg, #e66465, #9198e5) !important;
}
.liner-color2 {
  background: linear-gradient(45deg, #3f87a6, #f69d3c) !important;
}
.liner-color3 {
  background: linear-gradient(45deg, #0045c7, #ff2c7d) !important;
}
/* ======================= End-Bg-Color ======================= */

/* ======================= Start-Text-Color ======================= */
.textprimary {
  color: var(--primary2);
}
.textsecondary {
  color: var(--secondary2);
}
.textcard {
  color: var(--card);
}
.texttertiary {
  color: var(--tertiary);
}
.textforth {
  color: var(--forth);
}
.textsuccess {
  color: var(--success);
}
.textwarning {
  color: var(--warning);
}
.textdanger {
  color: var(--danger);
}
.textinfo {
  color: var(--info);
}
.textwhite {
  color: var(--white);
}
.textgray {
  color: var(--gray);
}
.textdark {
  color: var(--dark);
}
/* ======================= End-Text-Color ======================= */

/* ======================= Start-Border ======================= */
.border-primary {
  border: 1px solid var(--primary);
}
.border-card {
  border: 1px solid var(--card);
}
.border-secondary {
  border: 1px solid var(--secondary);
}
.border-tertiary {
  border: 1px solid var(--tertiary);
}
.border-forth {
  border: 1px solid var(--forth);
}
.border-success {
  border: 1px solid var(--success);
}
.border-warning {
  border: 1px solid var(--warning);
}
.border-danger {
  border: 1px solid var(--danger);
}
.border-info {
  border: 1px solid var(--info);
}
.border-white {
  border: 1px solid var(--white);
}
.border-gray {
  border: 1px solid var(--gray);
}
.border-dark {
  border: 1px solid var(--dark);
}
/* ======================= End-Border ======================= */

/* ======================= Start-Font-Family ======================= */
p,
a,
label,
small,
input,
textarea,
select,
button {
  font-family: "Poppins", "Ubuntu", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
li {
  font-family: "Poppins", "Ubuntu", sans-serif !important;
}
p {
  line-height: 24px !important;
  @media (max-width: 640px) {
    line-height: 20px !important;
  }
}
input,
::placeholder {
  @media (max-width: 640px) {
    font-size: 13px !important;
  }
}
.css-b62m3t-container,
text.CircularProgressbar-text {
  font-family: "Poppins", "Ubuntu", sans-serif !important;
  font-size: 13px !important;
  color: var(--gray);
}
/* ======================= End-Font-Family ======================= */

/* ======================= Start-scrollbar ======================= */
::-webkit-scrollbar {
  width: 0px;
}
/* ======================= End-scrollbar ======================= */

/* ======================= Start-Maincss ======================= */

// Scroll
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  word-wrap: break-word !important;
  width: 100% !important;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
html.lenis,
html.lenis body {
  height: auto;
}
html {
  overflow: hidden;
  @media (max-width: 640px) {
    overflow: visible;
  }
}
// Scroll

// Font
a {
  text-decoration: none !important;
}
p {
  margin: 0px;
  padding: 0px;
}
// Font

// List Style
.list-none {
  list-style: none !important;
}
.decimal {
  list-style: decimal !important;
}
.disc {
  list-style: disc !important;
}
// List Style

// Border
.border-0 {
  border: none !important;
}
.border-ec {
  border: 1px solid #ececec !important;
}
.bordb {
  border-bottom: 1px solid #f4f5f6 !important;
}
.bordh {
  border-top: 1px solid #f4f5f6 !important;
}
// Border

// Box Shadow
.d-shadow {
  box-shadow: 0 2px 12px 0 #0000001a !important;
}
.b-shadow {
  box-shadow: 0px 9px 50px #1211271f !important;
}
// Box Shadow

// Common Part
.cursor-pointer {
  cursor: pointer !important;
}
.z-999 {
  z-index: 9999 !important;
}
.h-100 {
  height: 100vh !important;
}
.center-absolute {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.dot {
  width: 12px !important;
  height: 12px !important;
  @media (max-width: 912px) and (min-width: 641px) {
    width: 10px !important;
    height: 10px !important;
  }
  @media (max-width: 640px) {
    width: 10px !important;
    height: 10px !important;
  }
}
.leading {
  line-height: 26px !important;
}
.leading-h {
  line-height: 60px !important;
  @media (max-width: 640px) {
    line-height: 44px !important;
  }
}
// Common Part

/* ======================= End-Maincss ======================= */

/* ======================= Start-Pagination ======================= */
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.pagination li {
  background: #ececec;
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #111;
  cursor: pointer;
}
.pagination .selected {
  background: var(--primary);
  color: var(--white);
}
/* ======================= End-Pagination ======================= */

/* ======================= Start-Animatedcss ======================= */
.bg-glass-nav {
  background: rgba(255, 255, 255, 0.09);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  border: 1px solid rgba(255, 255, 255, 0.13);
}
.automation .navhide {
  position: absolute;
  right: -50%;
  width: 50% !important;
  transition: all 0.3s ease-in 0s;
}
.automation .navview {
  position: absolute;
  right: 0%;
  width: 100% !important;
  transition: all 0.3s ease-in 0s;
}
.wid-sidebar {
  width: 25% !important;
  @media (max-width: 912px) and (min-width: 641px) {
    width: 40% !important;
  }
  @media (max-width: 640px) {
    width: 90% !important;
  }
}
.side-input {
  width: 94% !important;
}
.close {
  width: 20px !important;
  height: 20px !important;
}
.border-images {
  border: 1px dashed var(--primary2);
  height: 150px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 10px !important;
}
.img-input {
  width: 100% !important;
  height: 150px !important;
  opacity: 0 !important;
}
.preview-img {
  height: 145px !important;
}
.h-input {
  height: 35px !important;
}
.select {
  width: 98.5% !important;
}
.select input:focus-visible {
  outline: none;
  border: 1px solid var(--primary) !important;
}
input:focus-visible {
  outline: none;
  border: 1px solid var(--primary2) !important;
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
}
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.tog_slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 24px;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s;
}
.tog_slider::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}
.toggle-switch input:checked + .tog_slider {
  background-color: var(--success);
}
.toggle-switch input:checked + .tog_slider::before {
  transform: translateX(14px);
}
/* ======================= End-Animatedcss ======================= */

/* ======================= Start-Button ======================= */
.primarybtn {
  background: var(--primary) !important;
  border: 1px solid var(--primary2);
  color: var(--white);
  cursor: pointer;
}
.primarybtn:hover {
  background: var(--primary);
  color: var(--white);
  box-shadow: 0 1px 20px 1px var(--primary2) !important;
}
.primary2btn {
  background: transparent !important;
  border: 1px solid var(--primary2) !important;
  color: var(--primary2);
  cursor: pointer;
}
.primary2btn:hover {
  background: var(--primary) !important;
  color: var(--white) !important;
}
.secondarybtn {
  background: var(--secondary2) !important;
  border: 1px solid var(--secondary);
  color: var(--white);
  cursor: pointer;
}
.secondarybtn:hover {
  background: var(--secondary);
  color: var(--white);
  box-shadow: 0 1px 15px 1px var(--secondary2) !important;
}
.whitebtn {
  background: transparent !important;
  border: 1px solid var(--white);
  color: var(--white);
  cursor: pointer;
}
.whitebtn:hover {
  background: var(--white);
  color: var(--primary);
}
/* ======================= End-Button ======================= */

/* ======================= Start-Navbar ======================= */
.nav-logo {
  width: 100px !important;
  height: 55px !important;
}
.navbar .activetext {
  color: var(--gray);
}
.navbar .active {
  color: var(--primary2);
}
.navbar .dropdown_out {
  opacity: 0;
  scale: 0.7;
  display: none;
}
.navbar .dropdown {
  opacity: 1;
  scale: 1;
  display: grid;
  transition: all 0.6s ease;
  position: absolute !important;
  min-width: 105px !important;
  padding: 15px 10px 6px 10px;
  top: 50px;
  left: -9px;
  z-index: 99;
  border-radius: 5px;
}
/* ======================= End-Navbar ======================= */

/* ======================= Start-Components ======================= */
.hero_img {
  height: 400px !important;
  @media (max-width: 640px) {
    height: 280px !important;
  }
}
.bg_hero {
  background: url("https://www.primefaces.org/cdn/primereact/images/layout/pattern.png"),
    radial-gradient(50% 50% at center top, #e9e7fd -50%, #fff 100%) !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.doctor_img {
  height: 500px !important;
  @media (max-width: 640px) {
    height: 280px !important;
  }
}
.bg_doctor {
  background: url("https://wphix.com/template/medixer-prv/medixer/assets/images/banner/01.jpg")
    no-repeat;
}
.brand-img {
  width: 100% !important;
  height: 70px !important;
}
/* ======================= End-Components ======================= */


// Section 4
.leftabout4-img {
  height: 490px !important;
  filter: grayscale(100%);
  @media (max-width: 912px) and (min-width: 641px) {
    height: 380px !important;
  }
  @media (max-width: 640px) {
    height: 280px !important;
  }
}
.leftsecondabout4-img {
  height: 280px !important;
  filter: grayscale(100%);
  margin-bottom: -10% !important;
  @media (max-width: 912px) and (min-width: 641px) {
    height: 200px !important;
  }
  @media (max-width: 640px) {
    height: 180px !important;
  }
}
.rightabout4-img {
  height: 490px !important;
  filter: grayscale(100%);
  @media (max-width: 912px) and (min-width: 641px) {
    height: 380px !important;
  }
  @media (max-width: 640px) {
    height: 280px !important;
  }
}
.rightsecondabout4-img {
  height: 280px !important;
  filter: grayscale(100%);
  margin-bottom: -10% !important;
  @media (max-width: 912px) and (min-width: 641px) {
    height: 200px !important;
  }
  @media (max-width: 640px) {
    height: 180px !important;
  }
}
.line-about {
  width: 14px !important;
  border-radius: 30px !important;
  height: 200px !important;
  background: var(--primary2);
  @media (max-width: 912px) and (min-width: 641px) {
    height: 130px !important;
  }
  @media (max-width: 640px) {
    height: 90px !important;
  }
}
.border-about {
  border-right: 2px solid var(--primary2);
}
.round-about {
  width: 80px !important;
  height: 80px !important;
  background: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
}
// Section 4


// Section 7
.leftabout7-img {
  height: 500px !important;
  @media (max-width: 912px) and (min-width: 641px) {
    height: 340px !important;
  }
  @media (max-width: 640px) {
    height: 280px !important;
  }
}
.leftsecondabout7-img {
  height: 100px;
  width: 100px;
  @media (max-width: 912px) and (min-width: 641px) {
    height: 90px;
    width: 90px;
  }
  @media (max-width: 640px) {
    height: 90px;
    width: 90px;
  }
}
.leftthirdabout7-img {
  height: 50px;
  width: 50px;
  @media (max-width: 912px) and (min-width: 641px) {
    height: 50px;
    width: 50px;
  }
  @media (max-width: 640px) {
    height: 50px;
    width: 50px;
  }
}
.rightabout7-img {
  height: 500px !important;
  @media (max-width: 912px) and (min-width: 641px) {
    height: 340px !important;
  }
  @media (max-width: 640px) {
    height: 280px !important;
  }
}
.rightsecondabout7-img {
  height: 100px;
  width: 100px;
  @media (max-width: 912px) and (min-width: 641px) {
    height: 90px;
    width: 90px;
  }
  @media (max-width: 640px) {
    height: 90px;
    width: 90px;
  }
}
.rightthirdabout7-img {
  height: 50px;
  width: 50px;
  @media (max-width: 912px) and (min-width: 641px) {
    height: 50px;
    width: 50px;
  }
  @media (max-width: 640px) {
    height: 50px;
    width: 50px;
  }
}
.borderwhite {
  border: 10px solid #fff !important;
}
// Section 7



// Section2
.service2-h {
  height: 270px !important;
  @media (max-width: 640px) {
    height: 250px !important;
  }
}
.service2-img {
  width: 55px !important;
  height: 55px !important;
  @media (max-width: 912px) and (min-width: 641px) {
    width: 40px !important;
    height: 40px !important;
  }
  @media (max-width: 640px) {
    width: 40px !important;
    height: 40px !important;
  }
}
.pointer {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  margin-top: -20px !important;
  background: var(--primary2);
  @media (min-width: 641px) and (max-width: 912px) {
    width: 40px !important;
    height: 40px !important;
  }
  @media (max-width: 640px) {
    width: 38px !important;
    height: 38px !important;
  }
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
// Section2


// Section4
.service4-img {
  width: 100% !important;
  height: 350px !important;
  @media (max-width: 1224px) and (min-width: 913px) {
    height: 290px !important;
  }
  @media (max-width: 912px) {
    height: 100% !important;
  }
}
.servicesecond4-img {
  width: 40px !important;
  height: 40px !important;
}
.service4-circle {
  width: 270px !important;
  height: 270px !important;
  @media (max-width: 1224px) and (min-width: 913px) {
    width: 230px !important;
    height: 230px !important;
  }
  @media (max-width: 912px) and (min-width: 641px) {
    width: 30% !important;
    height: 180px !important;
  }
  @media (max-width: 640px) {
    width: 100% !important;
    height: 180px !important;
  }
}
// Section4


// Section5
.service5-h {
  height: 300px !important;
  background: linear-gradient(#ffffff 50%, #684df4 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  transition: 0.5s;
  @media (max-width: 640px) {
    height: 250px !important;
  }
}
.service5-h:hover:hover {
  background-position: 0 100%;
  color: #fff !important;
}
.service5-img {
  width: 40px !important;
  height: 40px !important;
  @media (max-width: 912px) and (min-width: 641px) {
    width: 40px !important;
    height: 40px !important;
  }
  @media (max-width: 640px) {
    width: 40px !important;
    height: 40px !important;
  }
}
.service5-circle {
  width: 65px;
  height: 65px;
}
// Section5


// Section2
.blog2-img {
  width: 100% !important;
  height: 260px !important;
}
.minus-blog2 {
  margin-top: -10% !important;
}
// Section2

// Section1
.patch1-img {
  width: 100% !important;
  height: 350px !important;
  @media (min-width: 641px) and (max-width: 912px) {
    height: 310px !important;
  }
  @media (max-width: 640px) {
    height: 300px !important;
  }
}
// Section1

/* ======================= Start-Footer ======================= */
.footerimg {
  width: 100% !important;
  height: 170px !important;
  @media (max-width: 912px) and (min-width: 641px) {
    height: 120px !important;
  }
  @media (max-width: 640px) {
    width: 100px !important;
    height: 100px !important;
  }
}
.social-foot {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
}
.foot-hr {
  width: 20% !important;
  border: none;
  height: 5px !important;
  background: #fff !important;
  margin-left: 0px !important;
  margin-right: auto !important;
}
/* ======================= End-Footer ======================= */

// Section 6
.rightabout6-img {
  height: 500px !important;
  @media (max-width: 912px) and (min-width: 641px) {
    height: 380px !important;
  }
  @media (max-width: 640px) {
    height: 280px !important;
  }
}
.rightsecondabout6-img {
  height: 100px;
  width: 100px;
  @media (max-width: 912px) and (min-width: 641px) {
    height: 130px !important;
  }
  @media (max-width: 640px) {
    height: 100px !important;
  }
}
.about6-card {
  width: 130px !important;
  height: 130px !important;
  background: var(--warning);
  @media (max-width: 912px) and (min-width: 641px) {
    width: 100px !important;
    height: 100px !important;
  }
  @media (max-width: 640px) {
    width: 90px !important;
    height: 90px !important;
  }
}
.tababoutbox {
  background: var(--primary);
  border: 1px solid var(--primary);
  color: var(--white);
}
.tababoutborderbox {
  border: 1px solid var(--primary);
  color: var(--primary);
}
// Section 6

// Section 4
.herosection4-img {
  width: 100% !important;
  height: 600px !important;
  @media (min-width: 641px) and (max-width: 912px) {
    height: 450px !important;
  }
  @media (max-width: 640px) {
    height: 400px !important;
  }
}
.video4-icon {
  width: 45px !important;
  height: 45px !important;
  border-radius: 50% !important;
  background: var(--success);
  @media (min-width: 641px) and (max-width: 912px) {
    width: 40px !important;
    height: 40px !important;
  }
  @media (max-width: 640px) {
    width: 38px !important;
    height: 38px !important;
  }
}
// Section 4

.b-images{
  height: 220px;
}