@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@400;500;700&display=swap");
/* ======================= Start-Color ======================= */
:root {
  --primary: linear-gradient(
    270deg,
    rgba(115, 103, 240, 0.7) 0%,
    #7367f0 100%
  ) !important;
  --primary2: #7367f0 !important;
  --secondary: linear-gradient(270deg, #e5b1b3 0%, #ff4c51 100%) !important;
  --secondary2: #ff4c51 !important;
  --tertiary: #2f2b24 !important;
  --forth: #0f172a !important;
  --success: #4bb543 !important;
  --warning: #ff5722 !important;
  --danger: red !important;
  --info: #2196f3 !important;
  --white: #fff !important;
  --card: #fff !important;
  --dark: #000 !important;
  --gray: #808390 !important;
}
.dark-mode {
  --primary: #74c2a8 !important;
  --secondary: #9a9bcc !important;
  --tertiary: #171718 !important;
  --forth: #fff !important;
  --success: #4bb543 !important;
  --warning: #ff5722 !important;
  --danger: red !important;
  --info: #2196f3 !important;
  --white: #293643 !important;
  --card: #1e2b34 !important;
  --dark: #ececec !important;
  --gray: #fff !important;
}
/* ======================= End-Color ======================= */

/* ======================= Start-Bg-Color ======================= */
.bgprimary {
  background: var(--primary);
}
.bgsecondary {
  background: var(--secondary);
}
.bgprimary2 {
  background: var(--primary2);
}
.bgsecondary2 {
  background: var(--secondary2);
}
.bgtertiary {
  background: var(--tertiary);
}
.bgforth {
  background: var(--forth);
}
.bgsuccess {
  background: var(--success);
}
.bgwarning {
  background: var(--warning);
}
.bgdanger {
  background: var(--danger);
}
.bginfo {
  background: var(--info);
}
.bgwhite {
  background: var(--white);
}
.bggray {
  background: var(--gray);
}
.bgcard {
  background: var(--card);
}
.bgdark {
  background: var(--dark);
}
.bg-light-primary {
  background: #e9e7fd !important;
}
.bg-light-secondary {
  background: #faf1f1 !important;
}
.bg-light-success {
  background: #4bb5432e !important;
}
.bg-light-warning {
  background: #faf0ed !important;
}
.bg-light-danger {
  background: rgba(255, 0, 0, 0.144) !important;
}
.bg-ec {
  background-color: #ececec !important;
}
.bg-fa {
  background-color: #fafafa !important;
}
.bg-efefef {
  background-color: #efefef !important;
}
.bg-f4f5f6 {
  background: #f4f5f6 !important;
}
.bg-glass {
  background: rgba(255, 255, 255, 0.09);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  border: 1px solid rgba(255, 255, 255, 0.13);
}
.bg-glass2 {
  background: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(1.7px);
}
.liner-color {
  background: linear-gradient(45deg, #e66465, #9198e5) !important;
}
.liner-color2 {
  background: linear-gradient(45deg, #3f87a6, #f69d3c) !important;
}
.liner-color3 {
  background: linear-gradient(45deg, #0045c7, #ff2c7d) !important;
}
/* ======================= End-Bg-Color ======================= */

/* ======================= Start-Text-Color ======================= */
.textprimary {
  color: var(--primary2);
}
.textsecondary {
  color: var(--secondary2);
}
.textcard {
  color: var(--card);
}
.texttertiary {
  color: var(--tertiary);
}
.textforth {
  color: var(--forth);
}
.textsuccess {
  color: var(--success);
}
.textwarning {
  color: var(--warning);
}
.textdanger {
  color: var(--danger);
}
.textinfo {
  color: var(--info);
}
.textwhite {
  color: var(--white);
}
.textgray {
  color: var(--gray);
}
.textdark {
  color: var(--dark);
}
/* ======================= End-Text-Color ======================= */

/* ======================= Start-Border ======================= */
.border-primary {
  border: 1px solid var(--primary);
}
.border-card {
  border: 1px solid var(--card);
}
.border-secondary {
  border: 1px solid var(--secondary);
}
.border-tertiary {
  border: 1px solid var(--tertiary);
}
.border-forth {
  border: 1px solid var(--forth);
}
.border-success {
  border: 1px solid var(--success);
}
.border-warning {
  border: 1px solid var(--warning);
}
.border-danger {
  border: 1px solid var(--danger);
}
.border-info {
  border: 1px solid var(--info);
}
.border-white {
  border: 1px solid var(--white);
}
.border-gray {
  border: 1px solid var(--gray);
}
.border-dark {
  border: 1px solid var(--dark);
}
/* ======================= End-Border ======================= */

/* ======================= Start-Font-Family ======================= */
p,
a,
label,
small,
input,
textarea,
select,
button {
  font-family: "Poppins", "Avant Garde", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
li {
  font-family: "Poppins", sans-serif;
}
p {
  line-height: 24px !important;
  @media (max-width: 640px) {
    line-height: 20px !important;
  }
}
input,
::placeholder {
  @media (max-width: 640px) {
    font-size: 13px !important;
  }
}
.css-b62m3t-container,
text.CircularProgressbar-text {
  font-family: "Poppins", sans-serif;
  font-size: 14px !important;
}
/* ======================= End-Font-Family ======================= */

/* ======================= Start-scrollbar ======================= */
::-webkit-scrollbar {
  width: 0px;
}
/* ======================= End-scrollbar ======================= */

/* ======================= Start-Maincss ======================= */

// Scroll
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  word-wrap: break-word !important;
  width: 100% !important;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
html.lenis,
html.lenis body {
  height: auto;
}
html {
  overflow: hidden;
  @media (max-width: 640px) {
    overflow: visible;
  }
}
// Scroll

// Font
a {
  text-decoration: none !important;
}
p {
  margin: 0px;
  padding: 0px;
}
// Font

// List Style
.list-none {
  list-style: none !important;
}
.decimal {
  list-style: decimal !important;
}
.disc {
  list-style: disc !important;
}
// List Style

// Border
.border-0 {
  border: none !important;
}
.border-ec {
  border: 1px solid #ececec !important;
}
.bordb {
  border-bottom: 1px solid #f4f5f6 !important;
}
.bordh {
  border-top: 1px solid #f4f5f6 !important;
}
// Border

// Box Shadow
.d-shadow {
  box-shadow: 0 2px 12px 0 #0000001a !important;
}
.b-shadow {
  box-shadow: 0px 9px 50px #1211271f !important;
}
// Box Shadow

// Common Part
.cursor-pointer {
  cursor: pointer !important;
}
.z-999 {
  z-index: 9999 !important;
}
.h-100 {
  height: 100vh !important;
}
.center-absolute {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.dot {
  width: 12px !important;
  height: 12px !important;
  @media (max-width: 912px) and (min-width: 641px) {
    width: 10px !important;
    height: 10px !important;
  }
  @media (max-width: 640px) {
    width: 10px !important;
    height: 10px !important;
  }
}
.leading {
  line-height: 15px !important;
}
// Common Part

/* ======================= End-Maincss ======================= */

/* ======================= Start-Pagination ======================= */
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.pagination li {
  background: #ececec;
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #111;
  cursor: pointer;
}
.pagination .selected {
  background: var(--primary);
  color: var(--white);
}
/* ======================= End-Pagination ======================= */

/* ======================= Start-Animatedcss ======================= */
.bg-glass-nav {
  background: rgba(255, 255, 255, 0.09);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  border: 1px solid rgba(255, 255, 255, 0.13);
}
.automation .navhide {
  position: absolute;
  right: -50%;
  width: 50% !important;
  transition: all 0.3s ease-in 0s;
}
.automation .navview {
  position: absolute;
  right: 0%;
  width: 100% !important;
  transition: all 0.3s ease-in 0s;
}
.wid-sidebar {
  width: 25% !important;
  @media (max-width: 912px) and (min-width: 641px) {
    width: 40% !important;
  }
  @media (max-width: 640px) {
    width: 90% !important;
  }
}
.side-input {
  width: 94% !important;
}
.close {
  width: 20px !important;
  height: 20px !important;
}
.border-images {
  border: 1px dashed var(--gray);
  height: 150px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 10px !important;
}
.img-input {
  width: 100% !important;
  height: 150px !important;
  opacity: 0 !important;
}
.preview-img {
  height: 145px !important;
}
.h-input {
  height: 35px !important;
}
.select input:focus-visible {
  outline: none;
  border: 1px solid var(--primary) !important;
}
input:focus-visible {
  outline: none;
  border: 1px solid var(--primary2) !important;
}
/* ======================= End-Animatedcss ======================= */

/* ======================= Start-Button ======================= */
.primarybtn {
  background: var(--primary) !important;
  border: 1px solid var(--primary2);
  color: var(--white);
  cursor:pointer;
}
.primarybtn:hover {
  background: var(--primary);
  color: var(--white);
  box-shadow: 0 1px 20px 1px var(--primary2) !important;
}
.primary2btn {
  background: transparent !important;
  border: 1px solid var(--primary2) !important;
  color: var(--primary2);
  cursor:pointer;
}
.primary2btn:hover {
  background: var(--primary) !important;
  color: var(--white) !important;
}
.secondarybtn {
  background: var(--secondary2) !important;
  border: 1px solid var(--secondary);
  color: var(--white);
  cursor:pointer;
}
.secondarybtn:hover {
  background: var(--secondary);
  color: var(--white);
  box-shadow: 0 1px 15px 1px var(--secondary2) !important;
}
.whitebtn {
  background: transparent !important;
  border: 1px solid var(--white);
  color: var(--white);
  cursor:pointer;
}
.whitebtn:hover {
  background: var(--white);
  color: var(--primary);
}
/* ======================= End-Button ======================= */

/* ======================= Start-Navbar ======================= */
.nav-logo {
  width: 100px !important;
  height: 55px !important;
}
.activetext {
  color: var(--tertiary);
}
.active {
  color: var(--primary2);
}
/* ======================= End-Navbar ======================= */

/* ======================= Start-Components ======================= */
.hero_img {
  height: 400px !important;
}
/* ======================= End-Components ======================= */
